body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}

.market-content {
  display: flex;
  position: absolute;
  width: 956px;
  height: 536px;
  left: 242px;
  top: 80px;
  flex-wrap: wrap;

  .market-item {
    width: 224px;
    height: 258px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    background-color: #ffffff;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    .dropdown {
      .dropdownToggle {
        font-weight: 500;
        position: absolute !important;
        right: 8px;
        top: 8px;
        padding: 0;
        background-color: #ffffff;
        color: #172b49;
        width: 30px;
        height: 30px;
        border-radius: 8px;
        border: none;

        &::after {
          display: none;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .dropdownMenu {
        width: 293px;
        height: 94px;
        padding: 24px;
        background: #ffffff;
        box-shadow: 0px 0px 20px rgba(23, 43, 73, 0.08);
        border-radius: 4px;
        border: none;
        color: #172b49;

        .dropdown-item {
          padding: 0;
          font-size: 15px;
          line-height: 17px;
          margin-bottom: 10px;
          background-color: transparent;

          &:active {
              color: #172b49;
          }

          .dropMenuIcon {
            margin-right: 17px;
          }
        }
      }
    }

    &:nth-child(4n + 4) {
      margin-right: 0;
    }

    .market-item-img {
      img {
        width: 224px;
        height: 142.55px;
        border-radius: 8px 8px 0px 0px;
      }
    }

    .market-item-info {
      padding: 18px 16px;
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      line-height: 18.29px;
      display: flex;
      flex: 1;
      flex-direction: column;

      .market-info-desc {
        margin-bottom: 8px;
        color: #172b49;
        flex: 1;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
      }

      .market-info-price {
        color: rgba(23, 43, 73, 0.6);
        margin-bottom: 0;

        .text-euro {
          width: 20px;
          height: 20px;
          background-color: #f0f0f0;
          color: #000000;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
          line-height: 20px;
          margin-right: 6px;
        }
      }
    }

    &.market-item-add {
      background-color: #66a3ff;
      border: 6px solid #ffffff;
      box-sizing: border-box;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.03);
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .text-add {
        width: 110px;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}

.uploadzone {
  border: 2px dashed #e5e5e5;
  padding: 15px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn-upload {
    font-size: 45px;
    color: #66a3ff;
  }

  input {
    display: none;
  }
}
